.formContainer{
    background-color: #a7bcff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formWrapper{
    background-color: white;
    padding: 20px 60px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.logoName{
    color: rgb(189, 139, 189);
    font-size: 24px;
    font-weight: bold;
}

.title{
    font-size: 15px;
    color: rgb(189, 139, 189);
}

form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input{
    padding: 15px;
    border: none;
    border-bottom: 1px solid #a7bcff;
    width: 250px;
}

button{
    background-color: rgb(189, 139, 189);
    color: white;
    padding: 10px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

p{
    font-size: 15px;
    color: rgb(189, 139, 189);
    margin-top: 10px;
}